
body {
    padding-top: 3rem;
}

.purchased-false {
    height: 40px;
    background-color: red;
}

.strikethrough {
    text-decoration: line-through;
    color: slategray;
}

h1 {
    text-decoration: underline;
    color: slategray;
}

.grocery-addItem {
    margin-top: 1 rem;
    padding-top: 1 rem;
}